.fix{    
	      width:99%;height:100%;
         position: fixed;
         margin-bottom:40px;
         margin-left:-12px;
         top:0;
         z-index: 1;
         background-image: url("img/header.png");
         background-repeat: no-repeat;position:fixed;}

.content{
	     margin-top:57px;}

.AboutAzmy{
         margin-left:-60px; 
         margin-right:50px; 
         position: relative;
         text-align: center; 
         color: white;}

.bottom-left{
         position: absolute;
         bottom: 8px;
         left: 16px; 
         font-size:25px; 
         font-family:Arial; 
         color:black; 
         margin-left: 125px; 
         margin-bottom:290px}

.top-right{
         position: absolute;
         top: 8px;
         right: 16px;
         font-size:20px; 
         font-family:Arial; 
         color:black;
         margin-top: 105px; 
         margin-right:-235px;}

.spasi{
         padding-left:137px;} 

.spasi2{
         padding-left:71px;}

.HobbyAzmy{
         margin-right:35px;
         margin-left: -65px;
         margin-top:-108px;
         position: absolute;}

.Guitar{
         margin-top:100px;
         margin-left: 72px;
         font-size: 40px; 
         font-family: Arial;}

.GambarGuitar{
         margin-left: 60px;
         margin-top: 50px;}

.Music{
         margin-top:180px;
         margin-right: 72px;
         font-size: 40px; 
         font-family: Arial;}

.GambarMusic{
         margin-right: 60px;
         margin-top: 50px;}


.Description{
        font-size: 25px}

.Quote{
        margin-left: -10px;
        margin-top: 10px}

